<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="Logo" style="width: 150px; height: 150px; display: block;">
                <h3 class="text-uppercase text-center">crud with nodejs and mysql</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae deleniti ipsum rerum sint eaque officiis beatae eum fuga, fugit quis consectetur itaque commodi ut laudantium quas saepe expedita corrupti?</p>
                <a href="/add" class="btn btn-primary">Create a person</a>
            </div>
        </div>
    </div>
</main>